.loader_bg {
  position: fixed;
  z-index: 999999;
  background: #0099cc;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

.loader {
  text-align: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  max-width: 70rem;
  height: 30rem;
  margin: 0 auto;
}

.wait {
  margin: 5rem 0;
}


.iata_code {
  font-size: 6rem;
  opacity: 0.9;
  top: 60%;
  position: absolute;
  color: white;
  display: inline-block;
  animation: loading 3.5s ease-in-out infinite;
  font-family: 'Faster One', cursive;
}

@keyframes loading {
  30% {
    transform: rotateX(-360deg)
  }
  90% {
    transform:  translateY(20px);
  }

}

.departure_city {
  left: 0;
}

.arrival_city {
  right: 130px;
}

.plane {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  top: 50%;
}

.plane-img {
  -webkit-animation: spin 2.5s linear infinite;
  -moz-animation: spin 2.5s linear infinite;
  animation: spin 2.5s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.earth-wrapper {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  padding-top: 2.7rem;
  top: 50%;
}

.earth {
  width: 160px;
  height: 160px;
  background: url("https://zupimages.net/up/19/34/6vlb.gif");
  border-radius: 100%;
  background-size: 340px;
  animation: earthAnim 12s infinite linear;
  margin: 0 auto;
  border: 1px solid #cdd1d3;
}

@media screen and (min-width:900px) {
  @keyframes earthAnim {
    0% {
      background-position-x: 0;
    }
  
    100% {
      background-position-x: -340px;
    }
  }
}

@media screen and (max-width: 900px) {
  .departure_city {
    left: 0;
    right: 0;
    top: 30%;
    position: absolute;
    margin: 0 auto;
    z-index: 999 !important;
  }

  .arrival_city {
    left: 0;
    right: 0;
    top: 93%;
    position: absolute;
    margin: 0 auto;
    z-index: 999 !important;
  }
}
