.loader_bg {
  position: fixed;
  z-index: 999999;
  background: #0099cc;
  width: 100%;
  height: 100%;
}


.loader {
  text-align: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  max-width: 70rem;
  height: 100vh;
  margin: 0 auto;
}

.iata_code {
  // top: 65%;
  position: absolute;
  animation: loading 3.5s ease-in-out infinite;
}

@keyframes loading {
  30% {
    transform: rotateX(-360deg)
  }
  90% {
    transform:  translateY(20px);
  }

}

.departure_city {
  left: 0;
  top: 45%;
}

.arrival_city {
  right: 0px;
  top: 45%;
}
.departure_city img,
.arrival_city img{
  width: 400px;
  height: 80px;
}

.earth-wrapper {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  padding-top: 2.7rem;
  top: 50%;
}

.earth {
  width: 160px;
  height: 160px;
  background: url("https://zupimages.net/up/19/34/6vlb.gif");
  border-radius: 100%;
  background-size: 340px;
  animation: earthAnim 12s infinite linear;
  margin: 0 auto;
  border: 1px solid #cdd1d3;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%) !important;
  top: 50%;
}

@media screen and (min-width:200px) {
  @keyframes earthAnim {
    0% {
      background-position-x: 0;
    }
  
    100% {
      background-position-x: -340px;
    }
  }
}

@media screen and (max-width: 950px) {
 .departure_city{
  top: 20% !important;
  left: 30% !important;
 }
 .earth{
  position: absolute !important;
  top: -15% !important;
  left: 40% !important;
  transform: translate(0%, -70%) !important;
 }
 .arrival_city{
  top: 60% !important;
  left: 0% !important;
 }
}

@media screen and (max-width:700px) {
  .departure_city{
   left: 20% !important;
  }
  .arrival_city{
    left: 0 !important;
  }

}

@media screen and (max-width:550px) {
  .earth{
    left: 35% !important;
  }
  .departure_city{
    left: 10% !important;
  }
}

@media screen and (max-width:500px) {
  .departure_city img,
  .arrival_city img{
    width: 300px !important;
    height: 80px;
  }
  .departure_city{
    left: 20% !important;
    top: 20% !important;
  }
  .arrival_city{
    top: 60% !important;
  }
  .earth{
    left: 30% !important;
  }
}

@media screen and (max-width:460px) {
  .departure_city{
    left: 15% !important;
  }
}